{{ include('base/html-header.twig') }}
<body class="{{body_class}}">
{{ include('base/nav.twig') }}

{% block content %}
Empty
{% endblock %}

{{ include('base/footer.twig') }}
{{ include('base/scripts.twig') }}

</body>
</html>